<!-- 

pagini:
    outside account
        welcome
            login
            signin
    
    inside account
        pets
            for each pet
                modify stats
                display stats
            add pet
                add pet stats
        my account
            modify data

lucruri de invatat:
    folosirea angular
    database
    modules
    design
    organizarea fisierelor

organizarea fisierelor
    pages
        outside-acc         + static: general backgroud
            component signin / login
        inside-acc          + static: general backgroun, nav bar
            pets
                pet



-->